.flutter {
	color: var(--white-color);
}

.skill {
	position: relative;
	display: flex;
	align-items: center;
}

.skill-content {
	display: flex;
	flex-direction: column;
}

.skill-content h3 {
	font-size: 2.5rem;
	color: var(--text-color);
	font-weight: 600;
	text-align:center;
	margin-bottom: 1vh;
}

.cards {
	display: flex;
	align-items: center;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1.2vw;
}

.skill-card {
	height: 8.5vw;
	width: 8.5vw;
	background-color: transparent;
	border: .2rem solid var(--main-color);
	border-radius: 50%;
	box-shadow: 0 .2rem .5rem var(--shadow-color);
	font-variant: 2vw;
	color: var(--main-color);
	display: flex;
	flex-direction: column;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	gap: 2.5vh;
	transition: all ease 0.5s;
	padding: 5.2rem;
}

.skill-card:hover {
	background-color: var(--main-color);
}

.skill-card i {
	font-size: 2.2vw;
	object-fit: contain;
	color: var(--white-color);
}

.skill-card h2 {
	font-size: 1.2vw;
	font-weight: 500;
	color: var(--white-color);
}

@media screen and (max-width: 768px) {
    .cards {
        gap: 1vw; /* Adjusted gap for smaller screens */
    }

    .skill-card {
        height: 20vw; /* Adjusted height for smaller screens */
        width: 20vw; /* Adjusted width for smaller screens */
        font-variant: 4vw; /* Adjusted font size for smaller screens */
        padding: 2vw; /* Adjusted padding for smaller screens */
    }

    .skill-card i {
        font-size: 6vw; /* Adjusted icon size for smaller screens */
    }

    .skill-card h2 {
        font-size: 2.8vw; /* Adjusted font size for smaller screens */
    }
}