.sc-contact {
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--green);
}

.contact-container {
	justify-content: center;
	align-items: center;
	padding-top: 10%;
	position: relative;
	flex-direction: column;
	padding: 0 10% 0;
}

.alert-submit {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: .5rem;

	& .submit-success {
		display: none;
		justify-content: center;

		& i {
			border: 1px solid var(--shamrock-800);
			align-items: center;
			border-radius: 5px;
			background-color: var(--shamrock-400);
			display: flex;
			justify-content: center;
			padding: 0.5rem;
			gap: 1rem;
		}
	}

	& .submit-fail {
		display: none;
		justify-content: center;

		& i {
			border: 1px solid var(--monza-800);
			display: flex;
			justify-content: center;
			align-items: center;
			padding: .5rem;
			gap: 1rem;
			border-radius: 5px;
			background-color: var(--monza-400);
		}
	}

	& .submit-success.show,
	.submit-fail.show {
		display: flex;
		transform: translateY(-10%);
		animation: submit-alert 1s ease;
		-webkit-animation: submit-alert 1s ease;
	}

	@-webkit-keyframes submit-alert {
		0% {
			opacity: 0;
			transform: translateY(0%);
		}

		100% {
			opacity: 1;
			transform: translateY(-10%);
		}
	}

	@keyframes submit-alert {
		0% {
			opacity: 0;
			transform: translateY(0);
		}

		100% {
			opacity: 1;
			transform: translateY(-10%);
		}
	}
}

.contact-card {
	justify-content: center;
	align-items: center;
	padding: 5% 2% 5%;
	background-color: var(--cerulean-blue-400);
	border-radius: 20px;

	& .c-wrapper {

		display: flex;
		gap: 1rem;
		align-items: center;
		justify-content: center;

		& .c-form {
			position: relative;
			display: flex;
			flex-direction: column;

			& .input-container {
				position: relative;
				width: 100%;
				display: flex;
				flex-direction: column;

				& .cf-input {
					background-color: var(--white);
					color: var(--purple);
					border-radius: 10px;
					padding: 4% 2%;
					font-size: var(--fs-4);
					margin-block-end: 15px;
				}

				& .cf-input:focus+label,
				.cf-input:not(:placeholder-shown)+label {
					top: -2%;
					margin-left: .2rem;
					font-size: .8rem;
					font-weight: 800;
					text-decoration: 2px underline solid var(--red);
				}

				& .cf-input::placeholder {
					color: inherit;
				}

				& label {
					position: absolute;
					display: flex;
					flex-wrap: wrap;
					width: 100%;
					height: 100%;
					transition: 0.3s ease all;
					pointer-events: none;
					color: var(--header-color);
					font-size: 1.2rem;
					font-weight: 600;
					align-content: flex-start;
					align-items: center;
					flex-direction: column;
					top: 30%;
					margin-left: 1rem;
				}
			}

		}

		& .c-list {
			& .c-item {
				display: flex;
				flex-direction: row;
				align-items: center;
				& .c-item-icon{
					font-size: var(--fs-3);
				}
				& div{
					flex-direction: column;
					gap: 0;
					align-items: center;
					& .c-item-title{
						font-size: var(--fs-3);
						margin-bottom: 0;
					}

					& .c-item-link{
						font-size: var(--fs-4);
					}
				}
			}

		}
	}
}

@media screen and (max-width:576px) {
	.sc-contact {
		height: auto;
		padding-top: 20%;
	}

	.contact-container {
		padding: 0 5% 0;
		margin-bottom: 10%;
	}


	.contact-card {

		& .c-wrapper {
			flex-direction: column;
			justify-content: flex-start;

			& .c-form {
				width: 100%;
			}
		}
		& .c-list{
			width: 100%;
		}
	}
}