
.header {
	position: absolute;
	background-color: transparent;
	box-sizing: border-box;
	transition: var(--transition-1);
	z-index: 10;
}

.header.sticky {
	position: fixed;
	background-color: var(--purple);
	box-shadow: var(--shadow);

}

.header.sticky:has(.nav-logo) p,
.header.sticky:has(.nav-toggle) i {
	color: var(--red);
}


.header.sticky:has(.navbar-list) a {
	color: var(--orange);
}

.header-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;

	padding: 1% 7% 1% 7%;
	justify-content: space-between;
}

.nav-logo {
	display: flex;

}

.nav-logo p {
	font-size: var(--fs-2);
	font-weight: 800;
}


.nav-navbar {
	font-size: var(--fs-3);
	width: fit-content;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	justify-content: flex-end;
	gap: 1%;
}

.nav-toggle {
	display: none;
	font-size: var(--fs-4);
}


.navbar-list {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 2%;
	align-items: center;
	font-weight: 600;

}

.navbar-item a {
	display: flex;
	padding: 1%;
	transition: .3s all ease-in;
}

.navbar-item:hover a {
	color: var(--orange);
	border-bottom: 2px solid;
	transition: .3s all ease-in;
}

.navbar-item.active a {
	border-bottom: 2px solid;
	transition: .3s all ease-in;
}

.header.sticky {
	z-index: 10;
}


/* Media query for screens with a maximum width of 992 pixels */
@media screen and (max-width: 992px) {
	.nav-logo p {
		font-size: var(--fs-3);
		font-weight: 800;
	}

	.nav-navbar {
		font-size: var(--fs-4);
	}

}

/* Media query for screens with a maximum width of 768 pixels */
@media screen and (max-width: 768px) {
	.nav-logo p {
		font-size: var(--fs-4);
		font-weight: 800;
	}

	.nav-navbar {
		font-size: var(--fs-5);
	}

}

/* Media query for screens with a maximum width of 480 pixels */
@media screen and (max-width: 480px) {


	.header-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 1% 7% 1% 7%;
		justify-content: space-between;
		align-items: center;
	}

	.nav-logo p {
		flex: 1;
		font-size: var(--fs-4);
		font-weight: 800;
	}

	.nav-toggle {
		flex: 1;
		display: flex;
		font-size: var(--fs-3);
		font-weight: 800;
		flex: 0;
	}

	.nav-navbar {
		display: none;
		flex-direction: column;
		flex-wrap: wrap;
		width: 100%;
		align-items: flex-end;
	}

	.navbar-list {
		display: flex;
		flex-direction: column;
		gap: 2%;
		align-items: flex-end;
		font-weight: 600;
		flex-wrap: wrap;
		align-content: flex-end;
		margin: 0;
	}

	.nav-navbar.active {
		display: flex;
	}


}