@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Work+Sans&display=swap');

:root {
	--scarlet-gum-50: #faf7fd;
	--scarlet-gum-100: #f4edfa;
	--scarlet-gum-200: #eadef6;
	--scarlet-gum-300: #dac3ef;
	--scarlet-gum-400: #c49de3;
	--scarlet-gum-500: #ac76d6;
	--scarlet-gum-600: #9759c4;
	--scarlet-gum-700: #8245ab;
	--scarlet-gum-800: #6c3d8c;
	--scarlet-gum-900: #593271;
	--scarlet-gum-950: #471f60;

	--carrot-orange-50: #fef9ee;
	--carrot-orange-100: #fcf1d8;
	--carrot-orange-200: #f7e0b1;
	--carrot-orange-300: #f2c87f;
	--carrot-orange-400: #eca74b;
	--carrot-orange-500: #e89230;
	--carrot-orange-600: #d8751e;
	--carrot-orange-700: #b45a1a;
	--carrot-orange-800: #8f471d;
	--carrot-orange-900: #743c1a;
	--carrot-orange-950: #3e1d0c;

	--cardinal-50: #fff1f3;
	--cardinal-100: #ffe0e5;
	--cardinal-200: #ffc7cf;
	--cardinal-300: #ffa0ae;
	--cardinal-400: #ff697f;
	--cardinal-500: #f93a56;
	--cardinal-600: #e71b39;
	--cardinal-700: #c9132e;
	--cardinal-800: #a11328;
	--cardinal-900: #851727;
	--cardinal-950: #490610;

	--cerulean-blue-50: #eef7ff;
	--cerulean-blue-100: #d8ecff;
	--cerulean-blue-200: #badeff;
	--cerulean-blue-300: #8acbff;
	--cerulean-blue-400: #53afff;
	--cerulean-blue-500: #2b8bff;
	--cerulean-blue-600: #146bfc;
	--cerulean-blue-700: #0d54e8;
	--cerulean-blue-800: #1349c9;
	--cerulean-blue-900: #153e93;
	--cerulean-blue-950: #122659;

	--shamrock-50: #edfcf6;
	--shamrock-100: #d3f8e6;
	--shamrock-200: #abefd2;
	--shamrock-300: #75e0ba;
	--shamrock-400: #3bc99a;
	--shamrock-500: #1aaf83;
	--shamrock-600: #0e8d6a;
	--shamrock-700: #0b7157;
	--shamrock-800: #0b5a47;
	--shamrock-900: #0a4a3b;
	--shamrock-950: #042a22;

	--flush-orange-50: #fff8ed;
	--flush-orange-100: #fef0d6;
	--flush-orange-200: #fcdcac;
	--flush-orange-300: #fac377;
	--flush-orange-400: #f79e40;
	--flush-orange-500: #f4821b;
	--flush-orange-600: #e56811;
	--flush-orange-700: #be4e10;
	--flush-orange-800: #973d15;
	--flush-orange-900: #7a3514;
	--flush-orange-950: #421908;



	--cod-gray-50: #f6f6f6;
	--cod-gray-100: #e7e7e7;
	--cod-gray-200: #d1d1d1;
	--cod-gray-300: #b0b0b0;
	--cod-gray-400: #888888;
	--cod-gray-500: #6d6d6d;
	--cod-gray-600: #5d5d5d;
	--cod-gray-700: #4f4f4f;
	--cod-gray-800: #454545;
	--cod-gray-900: #3d3d3d;
	--cod-gray-950: #0f0f0f;


	--monza-50: #fef2f2;
	--monza-100: #fee2e2;
	--monza-200: #fecaca;
	--monza-300: #fba6a6;
	--monza-400: #f77272;
	--monza-500: #ed4646;
	--monza-600: #da2828;
	--monza-700: #c11f1f;
	--monza-800: #981c1c;
	--monza-900: #7e1e1e;
	--monza-950: #440b0b;


	--white: var(--cod-gray-100);
	--dark: var(--cod-gray-950);

	--purple: var(--scarlet-gum-900);
	--pink: var(--monza-400);
	--orange: var(--flush-orange-600);
	--red: var(--monza-600);
	--green: var(--shamrock-400);

	--gradient-color: var(--orange), var(--pink);

	--heading-color: inherit;

	--shadow-color: rgba(0, 0, 0, .2);

	--ff-work-sans: 'Work Sans', sans-serif;

	--fs-1: 2em;
	--fs-2: 1.73em;
	--fs-3: 1.3em;
	--fs-4: 1em;
	--fs-5: .5em;
	--fs-6: .32em;

	--fw-900: 900;
	--fw-800: 800;
	--fw-700: 700;
	--fw-600: 600;
	--fw-500: 500;
	--fw-400: 400;
	--fw-300: 300;
	--fw-200: 200;
	--fw-100: 100;

	--shadow: 0 .2rem .5rem var(--shadow-color);

	--transition-1: .3s all ease-in;
}

* {
	list-style: none;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: var(--ff-work-sans);
	text-decoration: none;
	padding: 0;
}

html {
	margin: 0;
	padding: 0;
	font-size:20px;
	max-width: 100vw;
	max-height: auto;
	width: 100%;
	height: auto;
	scroll-behavior: smooth;
	overflow-x: visible;
}

body {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	font-weight: var(--fw-800);
	line-height: 1.2;
	color: var(--heading-color)
}

h1 {
	font-size: calc(1.375rem + 1.5vw);
}

h2 {
	font-size: calc(1.325rem + .9vw);
}

h3 {
	font-size: calc(1.3rem + .6vw);
}


h4 {
	font-size: calc(1.275rem + .3vw);
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
}

@media (min-width:1200px) {
	h1 {
		font-size: 2.5rem;
	}

	h2 {
		font-size: 2rem;
	}

	h3 {
		font-size: 1.75rem;
	}

	h4 {
		font-size: 1.5rem;
	}

	h4 {
		font-size: 1.5rem;
	}
}

header {
	width: 100%;
}

main {
	width: 100%;
}

section {
	width: 100%;
}

footer {
	width: 100%;
}

ul {
	list-style: none;
}

li {
	list-style: none;
}

nav {
	width: 100%;
}

a {
	text-decoration: none;
	color: var(--dark);
}

i {

	color: var(--dark);
}

img {
	width: 75%;
}

.flex-row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	flex-shrink: 0;
	width: 100%;
	max-width: 100%;
}

.row-reverse {
	flex-direction: row-reverse;
}

.row-col {
	flex: 1 0 0%;
}


.col {
	flex-direction: column;
}

.col-reverse {
	flex-direction: column-reverse;
}

.col-1 {
	flex: 0 0 auto;
	width: 8.33333333%;
}

.col-2 {
	flex: 0 0 auto;
	width: 16.66666667%;
}

.col-3 {
	flex: 0 0 auto;
	width: 25%
}

.col-4 {
	flex: 0 0 auto;
	width: 33.33333333%;
}

.col-5 {
	flex: 0 0 auto;
	width: 41.66666667%;
}

.col-6 {
	flex: 0 0 auto;
	width: 50%
}

.col-7 {
	flex: 0 0 auto;
	width: 58.33333333%;
}

.col-8 {
	flex: 0 0 auto;
	width: 66.66666667%;
}

.col-9 {
	flex: 0 0 auto;
	width: 75%;
}

.col-10 {
	flex: 0 0 auto;
	width: 83.33333333%;
}

.col-11 {
	flex: 0 0 auto;
	width: 91.66666667%;
}

.col-12 {
	flex: 0 0 auto;
	width: 100%;
}

@media screen and (max-width:576px) {

html {
	font-size: 16px;
}

}