.skill-container {
	justify-content: center;
	align-items: center;
	border: 1px solid;
	padding-top: 10%;
	background-color: var(--green);
	position: relative;
}

.skill-title,
.skill-subtitle,
.skill-desc {
	margin-top: 0;
	text-align: center;
}

.skill-content {
	position: relative;
	overflow: hidden;
	background-color: transparent;
	
	& .skill-list {
		position: relative;
		transition: 2s max-height ease-in-out;
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		justify-content: center;
		flex-grow: 1;
		padding: 0 10% 0;
		max-height: 35vh;
		z-index: 1;
		margin: 0;

		& .skill-item {
			display: flex;
			flex: 1 0 calc(50% - 5vh);
			width: 45%;
			flex-wrap: nowrap;
			justify-content: center;
			flex-direction: column;

			& .skill-wrapper {
				position: relative;
				display: flex;
				flex-direction: row;
				align-items: stretch;
				flex-wrap: wrap;
				justify-content: space-between;

				& .sw-title {
					font-size: var(--fs-4);
				}

				& .sw-data {
					font-size: var(--fs-4);
					font-style: italic;
				}
			}

			& .skill-bar-box {
				box-shadow: var(--shadow);
				background-color: var(--white);
				height: 1rem;
				border-radius: 10px;

				& .skill-bar {
					background-color: var(--orange);
					height: 100%;
					border-radius: inherit;
				}
			}
		}
	}
}
& .expand-button-skill {
	background-color: transparent;
	position: absolute;
	bottom: 0%;
	margin-top: 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	padding: .5%;
	backdrop-filter: blur(5px);
	z-index: 1;

	& .collapse-btn {
		display: none;
		background-color: transparent;
		text-align: center;
		font-size: .8rem;
		font-weight: 600;
		border: 1px solid;
		border-radius: 5px;
		/* display: none; */
		flex-direction: column;
		gap: .2rem;
		justify-content: center;
		align-items: center;
		& i{
			height: 100%;
			width: 100%;
		}
	}


	& .expand-btn {
		background-color: transparent;
		text-align: center;
		font-size: .8rem;
		font-weight: 600;
		border: 1px solid;
		border-radius: 5px;
		display: flex;
		flex-direction: column;
		gap: .2rem;
		justify-content: center;
		align-items: center;
		& i{
			height: 100%;
			width: 100%;
		}
	}
}
