@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(../css/custom.css);

body {

	font-size: 18px;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	background-color: var(--bg-color);
	color: var(--text-color) !important;
	min-width: 100vw;
}

.container {
	position: absolute;
	padding-left: 15rem;
	padding-right: 15rem;
	min-height: 100vh;
}

.archive-container {
	padding-top: 6rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	position: relative;
	width: 100%;
}

.archive-title {
	width: 13%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	position: relative;

}

.archive-title>a {
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: .3rem;
	text-decoration: none;
	transition: .25s ease-out all;
	
}
.archive-title>h1{
	width: 100%;
}


.archive-title>a:hover {
	gap: 15%;
	color: var(--text-color);
	transition: .25s ease-in all;
}

.archive-title>a:hover i{
	rotate: 45deg;
	color: teal;
}

.archive-table {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.archive-header,
.archive-content-item{
	position: relative;
	display: flex;
	flex-direction: row;
	gap: 2rem;
	justify-content: space-between;
	box-sizing: border-box;
}

.archive-header{
	border-bottom: 1px solid;
	box-sizing: border-box;
}


.archive-content-list{
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.archive-content-item{
	border-radius: 5px;
	padding: 1% 0;

}

.archive-content-item:hover{
	background-color: #b3b3b31e;
	transition: .25s ease-in all;
	cursor: pointer;
}


ul, ol, li{
	list-style: none;
}

.h-year,
.con-year{
	width: 10%;
}
.h-project,
.con-project{
	width: 20%;
}
.h-made-at,
.con-made-at{
	width: 20%;
}
.h-build-with,
.con-build-with{
	width: 15%;
}
.h-link,
.con-link{
	width: 10%;

}