@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Work+Sans&display=swap');

:root {
	/* color */
	--white: rgb(237, 237, 237);
	--dark: #1b1c1e;
	--purple: rgb(69, 25, 82);
	--redp: rgb(102, 37, 73);
	--pink: rgb(174, 68, 90);
	--orange: rgb(243, 159, 90);
	--red: #db213d;
	--green: #65eb91;

	--bg-white: var(--white);
	--bg-dark: var(--dark);

	--text-dark: var(--bg-dark);
	--text-white: var(--bg-white);

	--primary: var(--purple);
	--secondary: var(--orange);
	--alert-warning: var(--red);
	--alert-done: var(--green);
	--button: var(--primary);
	--button-text: var(--text-dark);
	--shadow-color: rgba(0, 0, 0, .2);
	--header-color: var(--purple);

	--gradient-color: var(--orange), var(--pink);


	/* width height */
	--max-width: 100vw;
	--max-height: 'max-content';

		/* typo */

		/* --ff-lato: 'Lato', sans-serif;
	--ff-open-sans: 'Open Sans', sans-serif; */
	--ff-work-sans: 'Work Sans', sans-serif;

	--fs-1: 3.5rem;
	--fs-2: 3rem;
	--fs-3: 2.4rem;
	--fs-4: 2rem;
	--fs-5: 1.8rem;
	--fs-6: 1.3rem;

	/* radius */

	--radius-5: 5px;
	--radius-10: 10px;
	--radius-15: 15px;
	--radius-20: 20px;

	/* spacing */
	--section-padding: 60px;

	/* shadow */


	--shadow: 0 .2rem .5rem var(--shadow-color);

	/* transition */
	--transition-1: 0.05s ease;
	--transition-2: 0.25s ease;
	--cubic-out: cubic-bezier(0.33, 0.85, 0.56, 1.02);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: none;
	outline: none;
	scroll-behavior: smooth;
	/* font-family: var(--ff-lato); */
	/* font-family: var(--ff-open-sans); */
	font-family: var(--ff-work-sans);
	text-decoration: none;
}


html {
	font-size: 100%;
	overflow-x: hidden;
	color: var(--text-dark);
}

body {
	background-color: var(--bg-white);
	position: relative;
}

main {
	box-sizing: content-box;
}

main section {
	display: flex;
	height: 100vh;
	width: 100vw;
	background-color: var(--header-color);
	color: var(--bg-white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	color: var(--text-white);
}

/* Header */

.header {
	position: absolute;
	padding: 2%;
	max-width: 100vw;
	background-color: transparent;
	width: 100%;
	z-index: 1;
	scroll-behavior: smooth;
	transition: .2s all ease-in;
	color: var(--text-dark);
}

.header.sticky {
	position: fixed;
	background-color: var(--header-color);
	border-bottom: 1px solid var(--shadow-color);
	top: 0;
	padding-top: 2%;

}

.header.sticky .nav-logo,
.header.sticky .nav-toggle {
	color: var(--alert-warning);
}

.header.sticky .nav-navbar .navbar-list .navbar-item a {
	color: var(--secondary);
}

.header-container {
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	justify-content: space-between;
}

.nav-logo {
	display: flex;
	font-size: 1.8rem;
	font-weight: 700;
	width: 30%;
	justify-content: center;
	align-items: center;
}

.nav-toggle {
	position: relative;
	display: none;
	width: 5%;
	align-items: center;
	justify-content: center;

	i {
		font-size: 1.8rem;
	}
}


.nav-navbar {
	display: flex;
	color: var(--text-dark);
	width: 65%;
	align-items: center;
	justify-content: center;
}

.navbar-list {
	position: relative;
	display: flex;
	flex-direction: row;
	gap: 1.2rem;
}

.navbar-list li.navbar-item {
	list-style: none;
}

.navbar-item a {
	font-size: 1.2rem;
	font-weight: 600;
	color: var(--text-dark);
}

.navbar-item:hover a {
	color: var(--alert-warning);
	border-bottom: 2px solid;
	transition: .2s all ease-in;
}

.navbar-item.active a {
	border-bottom: 2px solid;
}

@media screen and (max-width:768px) {
	.header.sticky {
		position: fixed;
	}

	.nav-logo {
		width: 20%;
	}

	.nav-navbar {
		width: 80%;
		justify-content: center;
	}

	.navbar-list {
		gap: 1rem;

	}

}

@media screen and (max-width:576px) {
	.header.sticky {
		position: fixed;
	}

	.header-container {
		position: relative;
		padding: 1%;
		display: flex;
		flex: 1 0 auto;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;

	}

	.nav-logo {
		position: relative;
		display: flex;
		width: 30%;
	}

	.nav-toggle {
		position: relative;
		display: flex;
		width: 25%;
		align-items: center;
		justify-content: end;
	}

	.nav-navbar {
		display: none;

	}

	.nav-navbar.active {
		display: flex;
		flex-direction: row;
		flex: 0 0 auto;
		flex-wrap: wrap;
		justify-content: flex-end;
		margin-top: 1%;
		position: relative;
		width: 75%;
	}

	.navbar-list {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-content: center;
		align-items: flex-end;
		justify-content: space-evenly;
		margin-right: 5%;
		gap: 1rem;

	}

	.navbar-item a {
		font-size: 1rem;
		text-shadow: var(--shadow);
	}

}

/* Home */
.sc-home {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background: linear-gradient(-45deg, var(--gradient-color));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}


.home-container {
	display: flex;
	justify-content: space-around;
	/* Adjust as needed */
	align-items: center;
	max-width: 150vh;
	/* Adjust the maximum width as needed */
	width: 100%;
	padding-left: 2%;
	padding-right: 2%;
}

.hc-left,
.hc-right {
	flex: 1;
}

.left-title {
	text-align: left;
}

.left-title h3 {
	font-size: 2.2rem;
	font-weight: 400;
	color: var(--text-dark);
	text-decoration: none;
}

.left-title span {
	color: var(--text-dark);
	font-size: 3.1rem;
	font-weight: 800;
	text-decoration: none;
}

.left-title p {
	color: var(--text-dark);
	font-size: 1.3rem;
	font-weight: 700;

}

.left-social-media {
	margin-top: 2em;
	display: flex;
	justify-content: left;
	gap: .7rem;
	/* Adjust the gap between social media icons */
}

.left-social-media i {
	font-size: 2.5rem;
	color: var(--primary);
}

.left-button {
	margin-top: 2em;
	display: flex;
	justify-content: left;
	text-decoration: none;
	width: fit-content;
	color: var(--bg-white);

	gap: .2rem;
}

.left-button a {
	background-color: var(--primary);
	border-radius: .2em;
	padding: .7rem;
	height: max-content;
	width: max-content;
	text-decoration: none;
	font-size: .8rem;
	border: .1em solid var(--primary);
	color: var(--bg-white);
}

.left-button a i {
	margin-right: .5em;
	text-decoration: none;
}

.left-button a:hover {
	background-color: transparent;
	transition: var(--transition-2);
	border: .1em solid var(--primary);
	box-shadow: var(--shadow);
	color: var(--primary);

}

.right-img {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	border-radius: 20%;
}

.right-img img {
	padding: 1.3rem;
	width: 40vh;
	/* Adjust as needed */
	height: 100%;
	border-radius: inherit;
	object-fit: cover;
}

.elm-img {
	position: absolute;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	font-weight: 600;
	align-items: stretch;
}

.elm-1,
.elm-2,
.elm-3 {
	display: flex;
	flex: 1 1 auto;
	flex-direction: row;
	gap: 10%;
	width: max-content;
	background-color: var(--primary);
	border-radius: 15px;
	padding: 10%;
	margin: 2%;
	color: var(--bg-white);
	border-color: var(--primary);
	box-shadow: var(--shadow);
}

.elm-1 {
	position: relative;
	top: 0vh;
	left: -5vw;
	justify-content: center;
	align-items: center;
	animation: elm-1 2s infinite alternate;
	-webkit-animation: elm-1 2s infinite alternate;
}

.elm-2 {
	position: relative;
	justify-content: center;
	align-items: center;
	top: 15vh;
	left: 8vw;
	animation: elm-1 2s infinite alternate;
	-webkit-animation: elm-1 2s infinite alternate;

}

.elm-3 {
	position: relative;
	justify-content: center;
	align-items: center;
	top: 27vh;
	left: -2vw;
	animation: elm-1 2s infinite alternate;
	-webkit-animation: elm-1 2s infinite alternate;

}

.elm-1 i {
	font-size: 1.3rem;
}

.elm-1 p {
	font-size: .5rem;
	flex: 1 0 auto;
	cursor: default;
}

.elm-2 i {
	font-size: 1.3rem;
}

.elm-2 p {
	font-size: .5rem;
	flex: 1 0 auto;
	cursor: default;
}

.elm-3 i {
	font-size: 1.2rem;
}

.elm-3 p {
	font-size: .5rem;
	flex: 1 0 auto;
	cursor: default;
}

@-webkit-keyframes elm-1 {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-10px);
	}
}

@keyframes elm-1 {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-10px);
	}
}


.sc-about {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: max-content;
	color: var(--bg-white);
}

.about-container {
	margin-top: 10%;
	margin-bottom: 5%;
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	max-width: 150vh;
	width: 100%;
	padding-left: 2%;
	padding-right: 2%;
	flex-wrap: nowrap;
	flex-direction: column;
}

.ac-row {

	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	margin-bottom: .2rem;
}

.row-left {
	flex-direction: row;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

}

.left-img {
	display: flex;
	flex: 1 0 auto;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	width: 25%;

}

.left-img img {
	padding: 2%;
	width: 100%;
	border-radius: 20%;
	box-shadow: var(--shadow);
}

.row-right {
	width: 75%;
	width: max-content;
	padding: .3rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.right-about {
	margin-bottom: 2rem;
}

.right-about h1 {
	position: relative;
	width: 100%;
	display: flex;
	text-align: justify;
	color: var(--secondary);
}

.right-about p {
	text-align: justify;
}

.right-skill {
	position: relative;
	width: 100%;
}

.skill-list-ab {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	list-style: none;
}


.skill-list-ab li {
	position: relative;
	display: flex;
	justify-content: center;
	font-size: 2rem;
	padding: 1rem;
	border: 1px solid var(--text-white);
	color: var(--text-white);
	border-radius: 50%;
	background-repeat: repeat-x;
	background-position: 0 -100%;
	transition: 1.5s ease;
	background-image: url('https://web.archive.org/web/20160312084140im_/http://splatoon.nintendo.com/assets/img/nav-bg-fill-blue.png?1443460871');
}

.skill-list-ab li:hover {
	background-position: center;
	filter: hue-rotate(150deg);
}

.sc-portfolio {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: max-content;
	flex-direction: column;
	flex-wrap: nowrap;
}

.portfolio-container {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: .2rem;
	padding-top: 10%;
}

.port-title {
	font-size: 1.8rem;
	font-weight: 600;
	color: var(--secondary);
}

.port-subtitle {
	font-size: 2.3rem;
	font-weight: 700;
}

.port-desc {
	font-size: 1.2rem;
}

.port-content {
	margin-top: 1.2rem;
	position: relative;
	width: 100%;
	height: max-content;
}

.port-list {
	display: grid;
	grid-template-columns: 50% 50%;
	list-style: none;
	justify-content: center;
	align-items: center;
	justify-items: center;
}

.port-card {
	position: relative;
	display: flex;
	height: fit-content;
	width: 30vw;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	gap: 1vw;
	margin-left: .5rem;
	margin-right: .5rem;
}


.port-card img {
	position: relative;
	width: 100%;
	height: 30vh;
	object-fit: cover;
}

.card-content .card-overlay {
	position: absolute;
	display: flex;
	flex-wrap: nowrap;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(52, 53, 59, 0.39);
	opacity: 0;
	transition: all ease 0.2s;
	padding: 2rem;
	object-fit: cover;
	flex-direction: column;
}

.card-overlay h4 {
	font-size: 1.8rem;
	text-align: left;
	margin-bottom: .3rem;
}

.card-overlay p {
	font-size: 1.2rem;
	text-align: left;
	margin-bottom: .3rem;
}

.card-overlay button {
	position: relative;
	width: max-content;
	font-size: 1.2rem;
	padding: .3rem;
	border-radius: 5%;
	background-color: var(--header-color);
	color: var(--bg-white);
}

.card-content:hover .card-overlay {
	opacity: 1;
}

.sc-skill {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100vw;
	height: max-content;
	flex-direction: column;
	flex-wrap: nowrap;
}

.skill-container {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	max-height: fit-content;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 10%;
	text-align: center;
}

.skill-title {
	font-size: 1.8rem;
	font-weight: 600;
	color: var(--secondary);
}

.skill-subtitle {
	font-size: 2.3rem;
	font-weight: 700;
}

.skill-desc {
	font-size: 1.2rem;
}

.skill-content {
	position: relative;
	width: 100%;
	height:max-content;
}

.skill-list {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.skill-item {
	position: relative;
	display: flex;
	flex: 1 0 calc(50% - 15vh);
	margin: 1rem;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
}

.skill-wrapper {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-content: stretch;
	align-items: center;
	justify-content: space-between;
}

.skill-wrapper h3 {
	font-size: .99rem;
	font-style: italic;
	font-weight: 600;
}

.skill-wrapper data {
	font-size: .99rem;
	font-style: italic;
	font-weight: 500;
}

.skill-bar-box {
	margin-top: .5em;
	background-color: var(--bg-white);
	height: 1rem;
	border-radius: 10px;
}

.skill-bar {
	background-color: var(--secondary);
	height: 100%;
	border-radius: inherit;
}


.sc-contact {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100vw;
	height: max-content;
	flex-direction: column;
	flex-wrap: nowrap;
}

.contact-container {
	margin-bottom: 5%;
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	max-width: 150vh;
	width: 100%;
	padding-top: 10%;
	padding-left: 2%;
	padding-right: 2%;
	flex-wrap: nowrap;
	flex-direction: column;
}

.contact-card {
	background-color: var(--secondary);
	padding: 5% 2%;
	border-radius: 20px;
	width: 100%;
}

.contact-title {
	color: var(--primary);
	font-size: 1.6rem;
}

.contact-subtitle {
	color: var(--primary);
	font-size: 1rem;
	margin-top: 1%;
	margin-bottom: 1%;
}

.c-wrapper {
	position: relative;
	display: flex;
	flex-direction: row;
	width: 100%;
}

.c-form {
	position: relative;
	display: flex;
	width: 50%;
	flex-direction: column;
}

.cf-input {
	background-color: var(--bg-white);
	color: var(--header-color);
	border-radius: var(--radius-5);
	padding: 4% 2%;
	font-size: 1.2rem;
	margin-block-end: 15px;
}

.cf-input::placeholder {
	color: inherit;
}

textarea.contact-input {
	resize: vertical;
	height: fit-content;
}

.cf-btn {
	display: block;
	background-color: var(--header-color);
	border: .1em solid var(--header-color);
	color: var(--bg-white);
	font-size: .8rem;
	font-weight: 600;
	width: 20%;
	padding: 2%;
	border-radius: 5px;
	transition: var(--transition-2);
}

.cf-btn-loading {
	display: none;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	background-color: var(--header-color);
	border: .1em solid var(--header-color);
	color: var(--bg-white);
	font-size: .8rem;
	font-weight: 600;
	width: 20%;
	padding: 2%;
	border-radius: 5px;
	transition: var(--transition-2);
}

.loader {
	width: .8rem;
	height: .8rem;
	border: .2rem solid #FFF;
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 2s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.cf-btn:is(:hover, :focus) {
	background-color: transparent;
	color: var(--header-color);
}

.c-list {
	position: relative;
	display: flex;
	list-style: none;
	flex-direction: column;
	width: 50%;
	height: max-content;
	gap: 2rem;
	margin-left: 2%;
}

.c-item {
	display: flex;
	align-items: center;
	gap: 2rem;
	width: fit-content;
}

.c-item-icon {
	position: relative;
	display: flex;
	justify-content: center;
	font-size: 2rem;
	padding: 1rem;
	border: 1px solid var(--header-color);
	border-radius: 50%;
	background-color: var(--header-color);
	transition: .2s all ease;
}

.c-item:hover .c-item-icon {
	background-color: transparent;
}

.c-item-title {
	color: var(--header-color);
	font-size: 1.2rem;
	font-weight: 800;
}

.c-item-link {
	color: var(--header-color);
	font-size: 1rem;
	font-weight: 500;
	cursor: default;
}

.alert-submit {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.submit-success {
	display: none;
	flex-direction: row;
	align-items: center;
	font-size: 1.2rem;
	width: max-content;
	font-weight: 600;
	gap: 1rem;
	background-color: var(--alert-done);
	padding: .5rem;
	border-radius: 5px;
	color: var(--primary);
}

.submit-fail {
	display: none;
	flex-direction: row;
	align-items: center;
	width: max-content;
	font-size: 1.2rem;
	font-weight: 600;
	gap: 1rem;
	padding: .5rem;
	border-radius: 5px;
	width: max-content;
	background-color: var(--alert-warning);
	color: var(--primary);
}

.submit-success.show,
.submit-fail.show {
	display: flex;
	transform: translateY(-10%);
	animation: submit-alert 1s ease;
	-webkit-animation: submit-alert 1s ease;
}

@-webkit-keyframes submit-alert {
	0% {
		opacity: 0;
		transform: translateY(0%);
	}

	100% {
		opacity: 1;
		transform: translateY(-10%);
	}
}

@keyframes submit-alert {
	0% {
		opacity: 0;
		transform: translateY(0);
	}

	100% {
		opacity: 1;
		transform: translateY(-10%);
	}
}


footer {
	position: relative;
	width: 100vw;
	background-color: var(--primary);
	color: var(--bg-white);
	padding: 1%;
	text-align: center;
}

.footer {
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bx-copyright {
	font-size: 1.1rem;
	font-weight: 600;
	color: var(--text-dark);
}

/* Responsive */

@media screen and (max-width:768px) {
	main {
		box-sizing: content-box;
		scroll-behavior: smooth;
	}

	main section {
		display: flex;
		justify-content: center;
		height: fit-content;
		width: max-content;
	}

	.elm-1,
	.elm-2,
	.elm-3 {
		display: none;
	}

	.portfolio-container {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 0;
	}

	.port-title {
		font-size: 1.2rem;
		font-weight: 600;
	}

	.port-subtitle {
		font-size: 1.8rem;
	}

	.port-desc {
		font-size: .8rem;
	}

	.port-content {
		position: relative;
		width: max-content;
		height: max-content;
	}

	.port-list {
		grid-template-columns: 100%;
		list-style: none;
	}

	.port-card {
		position: relative;
		display: flex;
		width: 100%;
	}

	.card-overlay h4 {
		font-size: 1.2rem;
		text-align: left;
		margin-bottom: .3rem;
	}

	.card-overlay p {
		font-size: .8rem;
		text-align: left;
		margin-bottom: .3rem;
	}

	.card-overlay button {
		position: relative;
		width: max-content;
		font-size: .8rem;
		padding: .3rem;
		border-radius: 5%;
		background-color: var(--header-color);
		color: var(--bg-white);
	}

	.card-content:hover .card-overlay {
		opacity: 1;
	}

	.skill-container {
		padding: 0;
	}

	.skill-title {
		font-size: 1.2rem;
		font-weight: 600;
		color: var(--alert-warning);
	}

	.skill-subtitle {
		font-size: 1.8rem;
		font-weight: 700;
	}

	.skill-desc {
		font-size: .8rem;
	}

	.skill-content {
		display: flex;
		position: relative;
		height: max-content;
		width: 100vw
	}

	.skill-list {
		padding: 1rem;
		width: 100%;
		height: max-content;
		padding: 1rem;
		display: flex;
		flex-wrap: nowrap;
		/* align-items: center; */
		flex-direction: column;
	}

	.skill-item {
		width: 100%;
		height: max-content;
	}

	.skill-wrapper h3 {
		font-size: .7rem;
		font-style: italic;
		font-weight: 600;
	}

	.skill-wrapper data {
		font-size: .7rem;
		font-style: italic;
		font-weight: 500;
	}

	.skill-bar-box {
		background-color: var(--bg-white);
		height: .8rem;
		border-radius: 10px;
	}

	.skill-bar {
		background-color: var(--secondary);
		height: 100%;
		border-radius: inherit;
	}

	.contact-container {
		margin-bottom: 5%;
		position: relative;
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100vw;
		padding-left: 2%;
		padding-right: 2%;
		flex-wrap: nowrap;
		flex-direction: column;
	}

	.contact-card {
		background-color: var(--secondary);
		padding: 5% 2%;
		border-radius: 20px;
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}

	.contact-title {
		color: var(--alert-warning);
		font-size: 1.6rem;
		width: 100%;
		text-align: center;
	}

	.contact-subtitle {
		color: var(--header-color);
		font-size: 1.2rem;
		margin-top: 1%;
		text-align: center;
		width: 100%;
	}

	.c-wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
		align-items: center;
	}

	.c-form {
		position: relative;
		display: flex;
		width: 100%;
		flex-direction: column;
	}

	.cf-input {
		background-color: var(--bg-white);
		color: var(--header-color);
		border-radius: var(--radius-5);
		padding: 4% 2%;
		font-size: 1.2rem;
		margin-block-end: 15px;
	}

	.cf-input::placeholder {
		color: inherit;
	}

	textarea.contact-input {
		resize: vertical;
		height: fit-content;
	}

	.cf-btn {
		background-color: var(--header-color);
		border: .1em solid var(--header-color);
		color: var(--bg-white);
		font-size: .8rem;
		font-weight: 600;
		width: 100%;
		padding: 2%;
		border-radius: 5px;
		transition: var(--transition-2);
	}

	.cf-btn-loading {
		display: none;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		background-color: var(--header-color);
		border: .1em solid var(--header-color);
		color: var(--bg-white);
		font-size: .8rem;
		font-weight: 600;
		width: 100%;
		padding: 2%;
		border-radius: 5px;
		transition: var(--transition-2);
	}

	.cf-btn:is(:hover, :focus) {
		background-color: transparent;
		color: var(--header-color);
	}

	.c-list {
		position: relative;
		display: flex;
		list-style: none;
		flex-direction: column;
		width: 100%;
		height: max-content;
		gap: 1rem;
		margin-top: 1%;
	}

	.c-item {
		display: flex;
		align-items: center;
		gap: 1.8rem;
		width: fit-content;
	}

	.c-item-icon {
		position: relative;
		display: flex;
		justify-content: center;
		font-size: 1.5rem;
		padding: 1rem;
		border: 1px solid var(--header-color);
		border-radius: 50%;
		background-color: var(--header-color);
		transition: .2s all ease;
	}

	.c-item:hover .c-item-icon {
		background-color: transparent;
	}

	.c-item-title {
		color: var(--header-color);
		font-size: .8rem;
		font-weight: 800;
	}

	.c-item-link {
		color: var(--header-color);
		font-size: .5rem;
		font-weight: 500;
		cursor: default;
	}
}



@media (max-width: 576px) {


	.home-container {
		position: relative;
		flex-direction: column-reverse;
		flex-wrap: nowrap;
		height: 100vh;
		padding: 20%;
	}

	.hc-left,
	.hc-right {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.left-title {
		text-align: center;
		color: var(--text-dark);
	}

	.left-title h3 {
		font-size: 1.8rem;
		font-weight: 500;
		color: var(--text-dark);
	}

	.left-title span {
		position: relative;
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;
		font-size: 1.8em;
		font-weight: 800;
		padding: none;
		color: var(--text-dark);
		text-decoration: none;
	}

	.left-title p {
		font-size: 1.2rem;
		font-weight: 700;
		color: var(--text-dark);
	}

	.left-social-media {
		margin-top: 2%;
		display: flex;
		justify-content: center;
		gap: .2rem;
	}

	.left-social-media i {
		font-size: 2rem;
	}

	.left-button {
		margin-top: 2%;
	}

	.elm-1,
	.elm-2,
	.elm-3 {
		display: none;
	}

	.about-container {
		position: relative;
		display: flex;
		flex-direction: column;
		height: min-content;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
		align-items: center;
	}

	.ac-row {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		align-items: center;
	}

	.left-img {
		position: relative;
		display: flex;
		flex: 1 0 auto;
		width: 10%;
		align-items: center;
		justify-content: center;
	}

	.left-img img {
		padding: 2%;
		width: 60%;
		border-radius: 20% transparent;
		box-shadow: none;
	}

	.row-right {
		width: max-content;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		align-items: center;
	}

	.right-about {
		max-width: 100vw;
	}

	.right-about h1 {
		position: relative;
		display: flex;
		flex-direction: row;
		align-content: center;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}

	.right-about p {
		position: relative;
		display: flex;
		width: 90%;
		width: fit-content;
		flex-direction: row;
		align-content: center;
		justify-content: center;
		align-items: center;
		text-align: left;
		flex-wrap: wrap;
		margin: 2rem;
	}

	.skill-list-ab {
		display: flex;
		gap: .3rem
	}

	.port-title {
		font-size: 1.2rem;
		font-weight: 600;
	}

	.port-subtitle {
		font-size: 1.8rem;
	}

	.port-desc {
		font-size: .8rem;
	}

	.port-content {
		position: relative;
		width: max-content;
		height: max-content;
	}

	.port-list {
		grid-template-columns: 100%;
		list-style: none;
	}

	.port-card {
		position: relative;
		display: flex;
		max-width: 100vw;
		width: 90%;
	}

	.port-card img {
		position: relative;
		width: 100%;
		height: 30vh;
		object-fit: cover;
	}

	.card-overlay h4 {
		font-size: 1.2rem;
		text-align: left;
		margin-bottom: .3rem;
	}

	.card-overlay p {
		font-size: .8rem;
		text-align: left;
		margin-bottom: .3rem;
	}

	.card-overlay button {
		position: relative;
		width: max-content;
		font-size: .8rem;
		padding: .3rem;
		border-radius: 5%;
		background-color: var(--header-color);
		color: var(--bg-white);
	}

	.card-content:hover .card-overlay {
		opacity: 1;
	}
}