.header {
	position: fixed;
	padding: 1.8rem 0;
	background-color: transparent;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	width: 100vw;
	z-index: 1;
	transition: .2s all ease-in;
}

.header.sticky {
	background-color: var(--header-color);
	color: var(--bg-white);
}

.header.sticky nav .nav-navbar .navbar-list .navbar-item a,
.header.sticky nav .nav-toggle a i {
	color: var(--bg-white);
}

.nav-logo {
	position: relative;
	display: flex;
	font-size: 1.5rem;
	font-weight: 600;
	width: 25%;
	justify-items: center;
	align-items: center;
	flex-wrap: nowrap;
	flex-direction: row;
	align-content: center;
	justify-content: center;
}

nav {
position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
    width: 75%;
    justify-content: center;
}

nav .nav-toggle {
	display: none;
	width: fit-content;
}

nav .nav-navbar {
	position: relative;
	display: flex;
	width: fit-content;
}

nav .nav-navbar .navbar-list {
	list-style: none;
	display: flex;
	flex-direction: row;
}

nav .nav-navbar .navbar-item {
	margin: 0 .5em;
	/* Adjust the margin as needed */
}

nav .nav-navbar .navbar-item a {
	color: var(--text-dark);
	font-size: 1rem;
	font-weight: 600;
	text-decoration: none;
}


@media (max-width: 768px) {
	.nav-logo {
		font-size: 1.8rem;
	}

	.navbar-item {
		margin: 0 10px;
	}

}

@media (max-width: 576px) {
	.nav-logo {
		font-size: 1.2rem;
		margin-left: .2rem;
	}

	.navbar-item {
		margin: 0 5px;
	}
	nav{
		justify-content: flex-end;
		margin-right: .5rem;
	}

	nav .nav-toggle {
		display: flex;
		margin-right: .2rem;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: space-between;
		justify-content: flex-end;
		align-items: center;
		font-size: 1.2rem;
	}


	nav .nav-navbar .navbar-list {
		flex-direction: column;
	}

	nav .nav-navbar .navbar-list .navbar-item {
		display: none;
		text-align: center;
	}
}