header {
	box-sizing: content-box;
	position: fixed;
	background-color: transparent;
	color: var(--text-dark);
	padding: 1.3rem 0;
	width: 100%;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header.sticky {
	background: var(--header-color);
	box-shadow: 0 .1rem 1rem var(--shadow-color);
	border-radius: .1rem;
	color: var(--bg-white);
	/* transition: .1s ease; */
}

.header.sticky .nav-navbar .navbar-list .navbar-item a ,
.header.sticky .nav-toggle a i{
	color: var(--bg-white);
}

.nav-logo {
	font-size: 1.5rem;
	font-weight: 800;
	margin: 0 .5em;
	padding-left: 1.3rem;
	/* Adjust the margin as needed */
}

.nav-navbar {
	display: flex;
}

.navbar-list {
	list-style: none;
	padding-right: 1.3rem;
	display: flex;
}

.navbar-item {
	margin: 0 .5em;
	/* Adjust the margin as needed */
}

.navbar-item a {
	color: var(--text-dark);
	font-size: 1rem;
	font-weight: 600;
	text-decoration: none;
}

.nav-toggle {
	display: none;
	margin-right: 2em;
	/* Adjust the margin as needed */
}

.nav-toggle a {
	color: var(--text-dark);
	padding: 5px 10px;
	border-radius: 5px;
	text-decoration: none;
}

/* Responsive styles */
@media (max-width: 768px) {
	.nav-logo {
		font-size: 1.8rem;
		margin: 0 .2em;
	}

	.navbar-item {
		margin: 0 10px;
	}

	.nav-toggle {
		display: none;
	}
}

@media (max-width: 576px) {
	.nav-logo {
		font-size: 1.2rem;
		margin: 0 5px;
	}

	.navbar-item {
		margin: 0 5px;
	}

	.nav-toggle {
		display: flex;
		flex: 1 0 auto;
		margin-right: .2rem;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: space-between;
		justify-content: flex-end;
		align-items: center;
		font-size: 1.2rem;
	}


	.navbar-list {
		flex-direction: column;
	}

	.navbar-item {
		display: none;
		margin: .2em 0;
		text-align: center;
	}
}