.sc-portfolio {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: max-content;
	flex-direction: column;
	flex-wrap: nowrap;
}

.portfolio-container {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: .2rem;
	padding: 10%;
}

.port-title {
	font-size: 1.8rem;
	font-weight: 600;
	color: var(--alert-warning);
}

.port-subtitle {
	font-size: 2.3rem;
	font-weight: 700;
}

.port-desc {
	font-size: 1.2rem;
}

.port-content {
	margin-top: 1.2rem;
	position: relative;
	width: 100%;
	height: max-content;
}

.port-list {
	display: grid;
	grid-template-columns: 50% 50%;
	list-style: none;
	justify-content: center;
	align-items: center;
	justify-items: center;
}

.port-card {
	position: relative;
	display: flex;
	height: fit-content;
	width: 60%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	margin-bottom: 1vh;
}


.port-card img {
	position: relative;
	width: 100%;
	height: 30vh;
	object-fit: cover;
}

.card-content .card-overlay {
	position: absolute;
	display: flex;
	flex-wrap: nowrap;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(52, 53, 59, 0.39);
	opacity: 0;
	transition: all ease 0.2s;
	padding: 2rem;
	object-fit: cover;
	flex-direction: column;
}

.card-overlay h4 {
	font-size: 1.8rem;
	text-align: left;
	margin-bottom: .3rem;
}

.card-overlay p {
	font-size: 1.2rem;
	text-align: left;
	margin-bottom: .3rem;
}

.card-overlay button {
	position: relative;
	width: max-content;
	font-size: 1.2rem;
	padding: .3rem;
	border-radius: 5%;
	background-color: var(--header-color);
	color: var(--bg-white);
}

.card-content:hover .card-overlay {
	opacity: 1;
}

/* Responsive styles */
@media (max-width: 768px) {
	.portfolio-container {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 0;
	}

	.port-title {
		font-size: 1.2rem;
		font-weight: 600;
	}

	.port-subtitle {
		font-size: 1.8rem;
	}

	.port-desc {
		font-size: .8rem;
	}

	.port-content {
		position: relative;
		width: max-content;
		height: max-content;
	}

	.port-list {
		grid-template-columns: 100%;
		list-style: none;
	}

	.port-card {
		position: relative;
		display: flex;
		width: 100%;
	}

	.card-overlay h4 {
		font-size: 1.2rem;
		text-align: left;
		margin-bottom: .3rem;
	}

	.card-overlay p {
		font-size: .8rem;
		text-align: left;
		margin-bottom: .3rem;
	}

	.card-overlay button {
		position: relative;
		width: max-content;
		font-size: .8rem;
		padding: .3rem;
		border-radius: 5%;
		background-color: var(--header-color);
		color: var(--bg-white);
	}

	.card-content:hover .card-overlay {
		opacity: 1;
	}
}

@media (max-width: 576px) {
	.port-title {
		font-size: 1.2rem;
		font-weight: 600;
	}

	.port-subtitle {
		font-size: 1.8rem;
	}

	.port-desc {
		font-size: .8rem;
	}

	.port-content {
		position: relative;
		width: max-content;
		height: max-content;
	}

	.port-list {
		grid-template-columns: 100%;
		list-style: none;
	}

	.port-card {
		position: relative;
		display: flex;
		max-width: 100vw;
		width: 90%;
	}

	.port-card img {
		position: relative;
		width: 100%;
		height: 30vh;
		object-fit: cover;
	}

	.card-overlay h4 {
		font-size: 1.2rem;
		text-align: left;
		margin-bottom: .3rem;
	}

	.card-overlay p {
		font-size: .8rem;
		text-align: left;
		margin-bottom: .3rem;
	}

	.card-overlay button {
		position: relative;
		width: max-content;
		font-size: .8rem;
		padding: .3rem;
		border-radius: 5%;
		background-color: var(--header-color);
		color: var(--bg-white);
	}

	.card-content:hover .card-overlay {
		opacity: 1;
	}
}