@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Open+Sans&family=Work+Sans&display=swap');

:root {
	/* color */
	--bg-white: rgb(237, 237, 237);
	--text-dark: #141414;
	--bg-dark: rgb(16, 16, 16);
	--primary: rgb(109, 34, 221);
	--secondary: #52a2d1;
	--alert-warning: #db213d;
	--alert-done: #65eb91;
	--button: var(--primary);
	--button-text: var(--text-dark);
	--shadow-color: rgba(0, 0, 0, .2);
	--header-color: rgb(41, 29, 58);

	--gradient-color: #f5d091, #d69ae8;


	/* typo */

	--ff-lato: 'Lato', sans-serif;
	--ff-open-sans: 'Open Sans', sans-serif;
	--ff-work-sans: 'Work Sans', sans-serif;

	--fs-1: 3.5rem;
	--fs-2: 3rem;
	--fs-3: 2.4rem;
	--fs-4: 2rem;
	--fs-5: 1.8rem;
	--fs-6: 1.3rem;

	/* radius */

	--radius-5: 5px;
	--radius-10: 10px;
	--radius-15: 15px;
	--radius-20: 20px;

	/* spacing */
	--section-padding: 60px;

	/* shadow */


	--shadow: 0 .2rem .5rem var(--shadow-color);

	/* transition */
	--transition-1: 0.05s ease;
	--transition-2: 0.25s ease;
	--cubic-out: cubic-bezier(0.33, 0.85, 0.56, 1.02);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: none;
	outline: none;
	scroll-behavior: smooth;
	font-family: var(--ff-lato);
	font-family: var(--ff-open-sans);
	font-family: var(--ff-work-sans);
	text-decoration: none;
}


html {
	font-size: 100%;
	overflow-x: hidden;
	color: var(--text-dark);
}

body {
	background-color: var(--bg-white);
	position: relative;
}

main {
	box-sizing: content-box;
}

main section {
	/* border: .1em solid; */
	position: flex;
	height: 100vh;
	width: 100%;
}

@media screen and (max-width:768px) {
	main {
		box-sizing: content-box;
	}

	main section {
		display: flex;
		justify-content: center;
		height: fit-content;
	}
}