@media screen and (max-width: 1200px) {}

/* Media query for screens with a maximum width of 992 pixels */
@media screen and (max-width: 992px) {}

/* Media query for screens with a maximum width of 768 pixels */
@media screen and (max-width: 768px) {}

/* Media query for screens with a maximum width of 480 pixels */
@media screen and (max-width: 480px) {
	.about-container {
		flex-direction: column;
		align-items: center;
	}

	.about-container .row-left {
		width: 100%;
	}

	.row-left .left-img img {
	width: 75%;
	border-radius: 10%;
	box-shadow: var(--shadow);
}

	.about-container .row-right {
		width: 100%;
		flex-direction: column;
	}

	.row-right .right-about {

		position: relative;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		text-align: justify;
		padding: 0 2% 0 2%;

	}

	.row-right .right-about h1 {

		font-size: var(--fs-2);
		color: var(--red);
		font-weight: 800;
	}

	.row-right .right-about p {

		font-size: var(--fs-5);
		font-weight: 500;
	}

	.row-right .skill-list-ab {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		gap: 2%;
		padding: 0 2% 0 2%;
	}

	.row-right .skill-list-ab li {
		display: flex;
		object-fit: cover;
		border: 1px solid;
		padding: .5rem;
		border-radius: 50%;
		flex-wrap: nowrap;
	}


	.row-right .skill-list-ab li i {
		font-size: 1.2rem;
		font-weight: 400;
	}
}