.header.sticky{
z-index: 10;
}

/* responsive navbar */
@media screen and (max-width: 1200px) {

	.nav-logo p {
		font-size: var(--fs-3);
		font-weight: 600;
		margin-left: 1%;
	}

	.nav-toggle {
		font-size: var(--fs-3);
	}

	.nav-navbar {
		font-size: var(--fs-4);

	}

}

/* Media query for screens with a maximum width of 992 pixels */
@media screen and (max-width: 992px) {
	.nav-logo p {
		font-size: var(--fs-3);
	}

	.nav-toggle {
		display: none;
		text-align: center;
		justify-content: center;
		font-size: var(--fs-3);
		font-weight: 600;
		width: 10%;
	}

	.nav-navbar {
		font-size: var(--fs-5);
	}

	.navbar-list {
		gap: 2%;
	}

}

/* Media query for screens with a maximum width of 768 pixels */
@media screen and (max-width: 768px) {

	.header.sticky .nav-logo p,
	.header.sticky .nav-toggle i {
		color: var(--red);
	}

	.header.sticky .nav-navbar .navbar-list .navbar-item a {
		color: var(--orange);
	}

	.header-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding: 1% 0 1% 0;

	}

	.nav-logo {
		text-align: left;
		width: 50%;
	}

	.nav-logo p {
		font-size: var(--fs-3);
		font-weight: 600;
		margin-left: 5%;
	}

	.nav-toggle {
		display: flex;
		text-align: center;
		justify-content: flex-end;
		font-size: var(--fs-3);
		color: var(--dark);
		font-weight: 600;
		width: 50%;
		flex-direction: row;
		flex-wrap: nowrap;
	}

	.nav-toggle i {
		margin-right: 5%;
		color: var(--dark);
	}

.nav-navbar {
		display: none;
		font-size: var(--fs-4);
	}

	.nav-navbar.active {
		display: flex;
		flex-direction: row;
		flex: 0 0 auto;
		flex-wrap: wrap;
		justify-content: flex-end;
		margin-top: 1%;
		position: relative;
		width: 75%;
	}

	.navbar-list {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-content: center;
		align-items: flex-end;
		justify-content: space-evenly;
		margin-right: 5%;
		gap: 1rem;

	}

	.nav-logo p,
	.nav-toggle i,
	.nav-navbar .navbar-list .navbar-item a {
		color: var(--dark);
		transition: .3s all ease-in;
	}

	.navbar-item:hover a {
		color: var(--orange);
		border-bottom: 2px solid;
		transition: .2s all ease-in;
	}

	.navbar-item.active a {
		border-bottom: 2px solid;
	}

}

/* Media query for screens with a maximum width of 480 pixels */
@media screen and (max-width: 480px) {
	.header{
		padding: 2% 0% 2%;
	}
	.nav-logo {
		text-align: left;
		width: 40%;
	}

	.nav-logo p {
		font-size: var(--fs-2);
		font-weight: 600;
		margin-left: 1%;
	}

	.nav-toggle {
		font-size: var(--fs-2);
	}

	.nav-navbar {
		display: none;
		font-size: var(--fs-4);
	}

	.nav-navbar.active {
		display: flex;
		flex-direction: row;
		flex: 0 0 auto;
		flex-wrap: wrap;
		justify-content: flex-end;
		margin-top: 1%;
		position: relative;
		width: 75%;
	}

	.navbar-list {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-content: center;
		align-items: flex-end;
		justify-content: space-evenly;
		margin-right: 5%;
		gap: 1rem;

	}

	.nav-logo p,
	.nav-toggle,
	.nav-navbar .navbar-list .navbar-item a {
		color: var(--dark);
		transition: .3s all ease-in;
	}

	.navbar-item:hover a {
		color: var(--orange);
		border-bottom: 2px solid;
		transition: .2s all ease-in;
	}

	.navbar-item.active a {
		border-bottom: 2px solid;
	}
}
